<?xml version="1.0"?>
<launch>
  <!-- load world with aircraft -->
  <include file="$(find aircraft_scanning_gazebo)/launch/airliner757.launch"/>

  <!--spawn quadrotor with realsense d435 camera-->
  <include file="$(find aircraft_scanning_gazebo)/launch/spawn_quadrotor.launch" >
    <arg name="x" value="7"/>
    <arg name="y" value="-20.0"/>
    <arg name="z" value="0.3"/>
  </include>

  <!--add camera link joint controller-->
  <include file="$(find aircraft_scanning_control)/launch/camera_joint_control.launch"/>

  <include file="$(find aircraft_scanning_control)/launch/uav_scanning_auto.launch"/>

  <!-- <include file="$(find aircraft_scanning_visualize)/launch/point_cloud_visualize.launch"/> -->

</launch>
