<?xml version="1.0"?>
<launch>
  <!-- load world with aircraft -->
  <include file="$(find aircraft_scanning_gazebo)/launch/airliner757.launch"/>

  <!--spawn quadrotor with realsense d435 camera-->
  <include file="$(find aircraft_scanning_gazebo)/launch/spawn_mmrobot.launch" >
    <arg name="x" value="7"/>
    <arg name="y" value="-20.0"/>
    <arg name="z" value="0.15"/>
  </include>

  <!--add visualize and data process -->
  <include file="$(find aircraft_scanning_control)/launch/ugv_manual_scanning.launch"/>

</launch>
