<?xml version="1.0" ?>
<robot name="mmrobot" xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="PI" value="3.1415926535897931" />
    <xacro:arg name="hardware_interface" default="PositionJointInterface"/>

    <!--wheel_base-->
    <xacro:include filename="$(find aircraft_scanning_description)/urdf/4wheel_base.urdf.xacro" />
    <xacro:fourwheeler_base_macro />

    <!--iiwa14-->
    <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />
    <xacro:include filename="$(find iiwa_description)/urdf/iiwa14.xacro"/>
    <xacro:iiwa14 hardware_interface="$(arg hardware_interface)" robot_name="iiwa" parent="link_support">
      <origin xyz="0 0 0.5" rpy="0 0 0" />
      <xacro:property name="safety_controller_k_pos" value="100" />
      <xacro:property name="safety_controller_k_vel" value="2" />
      <xacro:property name="joint_damping" value="1" />
      <xacro:property name="max_effort" value="300"/>
      <xacro:property name="max_velocity" value="2"/>
    </xacro:iiwa14>

    <!--camera-->
    <xacro:include filename="$(find aircraft_scanning_description)/urdf/rgbd_camera.urdf.xacro"/>
    <xacro:camera_macro parent="iiwa_link_ee">
        <origin xyz="0 0 0.0208" rpy="0 -${PI/2} 0" />
    </xacro:camera_macro>

</robot>
